<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="NagwaWebsite" parallel="tests">
 	<test name="WorksheetChrome">
	<parameter name="ReportName" value="WorksheetChrome" />
 	<parameter name="Browser" value="Chrome" />
		<classes>
			<class name="utilities.ExtentReport" />
			<class name="utilities.TestBase" />
			<class name="pages.PageObject" />
			<class name="testRunner.LessonWorksheetRunner" /> 
		</classes>
	</test>
<!--  	<test name="WorksheetFirefox">
	<parameter name="ReportName" value="WorksheetFirefox" />
	<parameter name="Browser" value="Firefox" />
		<classes>
			<class name="utilities.ExtentReport" />
			<class name="utilities.TestBase" />
			<class name="pages.PageObject" />
			<class name="testRunner.LessonWorksheetRunner" /> 
		</classes>
	</test> -->
</suite>